---
import { Image } from "astro:assets";
import turbinaUno from "../img/turbina-1.png";
import turbinaDos from "../img/turbina-2.png";
import unidadUno from "../img/unidad-1.jpg";
import unidadDos from "../img/unidad-2.png";
import unidadTres from "../img/unidad-3.png";
import lubricacion from "../img/Lubricacion.png";
import lubricacionDos from "../img/lubricacion-2.png";

const { title } = Astro.props;
---
<div id="equipos"></div>

<div class="container mx-auto px-8 pt-20 pb-28">
  <div>
    <h2 class="text-5xl font-bold text-center mb-15">
      {title}
    </h2>

    <div class="images-wrapper flex items-center justify-center gap-10">
      <div class="modal-wrapper">
        <Image class="hover:cursor-pointer rounded-lg" src={unidadUno} onclick="my_modal_3.showModal();" alt="unidad principal f300 uno" />
        <!-- Open the modal using ID.showModal() method -->
        <dialog id="my_modal_3" class="modal">
          <div class="modal-box">
            <h3 class="text-4xl font-bold pb-8">Unidad Principal F300</h3>
            <Image class="py-4" src={unidadDos} alt="unidad principal f300 dos" />
            <Image class="py-4" src={unidadTres} alt="unidad principal f300 tres" />
            <h3 class="text-lg font-bold py-4">Elementos indicados en la figura</h3>
            <ol class="lista-elementos">
              <li>Válvula invertida flujo de entrada</li>
              <li>Salida de aire hacia la turbina</li>
              <li>Interruptor de encendido</li>
              <li>Medidor de caudal de salida</li>
              <li>Dinamómetro</li>
              <li>Medidor de RPM</li>
              <li>Conexión sensor de temperatura (termopares) e indicador de temperatura.</li>
              <li>Conexiones a sensores RPM ,revoluciones por minuto, (Cable gris, lateral izquierdo de la unidad)</li>
              <li>Conexión sensores  dinamómetro (cable negro, lateral izquierdo de la unidad)</li>
            </ol>
          </div>
          <form method="dialog" class="modal-backdrop">
            <button>cerrar</button>
          </form>
        </dialog>

        <a class="btn btn-primary" href="../img/1-guia-conexion-principal-f300.pdf" download>Descargar</a>
      </div><!-- .modal-wrapper -->

      <div class="modal-wrapper">
        <Image class="hover:cursor-pointer rounded-lg" src={turbinaUno} onclick="my_modal_2.showModal();" alt="turbina de impulso f300 c" />
        <!-- Open the modal using ID.showModal() method -->
        <dialog id="my_modal_2" class="modal">
          <div class="modal-box">
            <h3 class="text-4xl font-bold pb-8">Turbina de impulso F300 C</h3>
            <Image class="py-4" src={turbinaUno} alt="turbina de impulso f300 c" />
            <h3 class="text-lg font-bold py-4">Elementos indicados en la figura</h3>
            <ol class="lista-elementos">
              <li>Válvulas de cierre parcial de la boquilla de entrada</li>
              <li>Salida de aire a la unidad F300</li>
              <li>Tornillo de ajuste para la polea de frenado</li>
              <li>Medidor de presión de entrada</li>
            </ol>
          </div>
          <form method="dialog" class="modal-backdrop">
            <button>close</button>
          </form>
        </dialog>

        <a class="btn btn-primary" href="../img/2-guia-turbina-de-impulso.pdf" download>Descargar</a>
      </div><!-- .modal-wrapper -->

      <div class="modal-wrapper">
        <Image class="hover:cursor-pointer rounded-lg" src={turbinaDos} onclick="my_modal_1.showModal();" alt="asd" />
        <!-- Open the modal using ID.showModal() method -->
        <dialog id="my_modal_1" class="modal">
          <div class="modal-box">
            <h3 class="text-4xl font-bold pb-8">Turbina de reacción F300 D</h3>
            <Image class="py-4" src={turbinaDos} alt="turbina de reaccion f300 d" />
            <h3 class="text-lg font-bold py-4">Elementos indicados en la figura</h3>
            <ol class="lista-elementos">
              <li>Medidor de presión de entrada</li>
              <li>Salida de aire a la unidad F300</li>
              <li>Tornillo de ajuste para la polea de frenado</li>
            </ol>
          </div>
          <form method="dialog" class="modal-backdrop">
            <button>close</button>
          </form>
        </dialog>

        <a class="btn btn-primary" href="../img/3-guia-practica-turbina-reaccion-uno.pdf" download>Descargar</a>
      </div><!-- .modal-wrapper -->

      <div class="modal-wrapper">
        <Image class="hover:cursor-pointer rounded-lg" src={lubricacion} onclick="my_modal_4.showModal();" alt="asd" />
        <!-- Open the modal using ID.showModal() method -->
        <dialog id="my_modal_4" class="modal">
          <div class="modal-box">
            <h3 class="text-4xl font-bold pb-8">Lubricación de equipos</h3>
            <Image class="py-4 object-cover max-w-[50%]" src={lubricacionDos} alt="lubricacion dos" />
            <p class="text-center font-bold pt-8 pb-4 subtitle">El manejo del equipo requiere de una lubricación de la turbina con aceite 3 en 1 antes de su puesta en marcha:</p>
            <ol class="lista-elementos">
              <li class="pb-4">Ubicar la disponibilidad de lubricante “3 en 1”, si no se encuentra en el área de trabajo, preguntar al técnico encargado del laboratorio).</li>
              <li class="pb-4">Retirar la arandela móvil situada en la parte trasera de la turbina para acceder al espacio de lubricación (Figura C. 2).</li>
              <li>Aplicar 4 gotas del aceite de lubricación y volver a ubicar la arandela móvil.</li>
            </ol>
          </div>
          <form method="dialog" class="modal-backdrop">
            <button>close</button>
          </form>
        </dialog>

        <a class="btn btn-primary" onclick="my_modal_4.showModal();">Ver más</a>

        <!-- <div class="md:pb-10"></div> -->
      </div><!-- .modal-wrapper -->
    </div>
  </div>
</div>

<style>
  img {
    height: 260px;
    object-fit: cover;
  }

  .modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
  }

  .modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 95dvh;
    padding-top: 32px;
    padding-bottom: 40px;
  }

  .modal-box .lista-elementos {
    list-style: auto;
    max-width: 400px;
  }

  .modal-box .subtitle {
    max-width: 430px;
  }
</style>