---
import { Image } from "astro:assets";

import bata from "../img/bata.webp";
import tapaOidos from "../img/tapa-oidos.jpg";
import calzado from "../img/calzado.webp";
import gafas from "../img/gafas.jpeg";

const { title } = Astro.props;
---

<div id="implementos"></div>

<div class="container mx-auto px-8 pt-20 pb-28">
  <h2 class="text-5xl font-bold text-center mb-15">
    {title}
  </h2>

  <div class="relative mx-auto w-full max-w-5xl overflow-visible">

  <!-- Center vertical line -->
  <div class="pointer-events-none absolute left-1/2 top-0 bottom-0 w-[3px] -translate-x-1/2 bg-black z-0"></div>

  <!-- ITEM 1 (LEFT TEXT) -->
  <div class="relative z-10 my-36">
    <div class="absolute left-1/2 -translate-x-1/2">
      <div class="h-40 w-40 rounded-full bg-white p-3">
        <Image src={bata} alt="bata" class="h-full w-full rounded-full object-cover" />
      </div>
    </div>

    <div class="pr-[60%] pt-[6%] text-right">
      <div class="text-3xl font-semibold text-base-content">
        Bata de Laboratorio
      </div>
    </div>
  </div>

  <!-- ITEM 2 (RIGHT TEXT) -->
  <div class="relative z-10 my-36">
    <div class="absolute left-1/2 -translate-x-1/2">
      <div class="h-40 w-40 rounded-full bg-white p-3">
        <Image src={tapaOidos} alt="tapa oidos" class="h-full w-full rounded-full object-cover" />
      </div>
    </div>

    <div class="pl-[60%] pt-[6%] text-left">
      <div class="text-3xl font-semibold text-base-content">
        Tapa Oídos
      </div>
    </div>
  </div>

  <!-- ITEM 3 (LEFT TEXT) -->
  <div class="relative z-10 my-36">
    <div class="absolute left-1/2 -translate-x-1/2">
      <div class="h-40 w-40 rounded-full bg-white p-3">
        <Image src={calzado} alt="calzado" class="h-full w-full rounded-full object-cover" />
      </div>
    </div>

    <div class="pr-[60%] pt-[6%] text-right">
      <div class="text-3xl font-semibold text-base-content">
        Calzado de protección
      </div>
    </div>
  </div>

  <!-- ITEM 4 (RIGHT TEXT) -->
  <div class="relative z-10 my-36">
    <div class="absolute left-1/2 -translate-x-1/2">
      <div class="h-40 w-40 rounded-full bg-white p-3">
        <Image src={gafas} alt="gafas" class="h-full w-full rounded-full object-cover" />
      </div>
    </div>

    <div class="pl-[60%] pt-[6%] text-left">
      <div class="text-3xl font-semibold text-base-content">
        Gafas de protección
      </div>
    </div>
  </div>

  </div>

</div>